
body {
    background-color: #3e374b;
}
h1 {
    color: rgb(18, 78, 198); 
    font-weight: 900;
    font-size: 40;
    font-family: fantasy; sans-serif;
    text-align: center;
    background-color: rgb(205, 148, 148);
    padding: 15px;
}   

ol li, ul li {
    background-color: aquamarine;
    padding: 20px;
    font-family: fantasy;
    font-weight: 600;
    font-size: 30;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
}
img {
    width: 500px;
    height: auto;
    padding-left: 30%;
}
p, div {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
}